<mat-card>
  @if (tab$ | async; as tab) {
    <mat-card-header>
      <mat-card-title>Prévisualisation</mat-card-title>
      
    </mat-card-header>

    <mat-card-content>
      <pre class="tab">{{ tab.tabToString }}</pre>

      @if (midiTone$ | async; as midiTone) {
        <div class="player">
          <button mat-icon-button color="primary" (click)="playMidi(midiTone)">
           <img src="assets/images/play_button.svg" alt="Play" class="icon" />
        </button>
        <button mat-icon-button color="primary" (click)="disposeSynths()">
           <img src="assets/images/pause_button.svg" alt="Play" class="icon" />
        </button>
        <a mat-stroked-button color="primary" (click)="generate()">
              Générer à nouveau
            </a>
        
        @if (midi$ | async; as midi) {
          @if (midi) {
            <a mat-stroked-button color="primary" [href]="midi.url" target="_blank" rel="noopener">
              Télécharger le MIDI
            </a>
          }
        }
        </div>
        
      }
      
        
      
    </mat-card-content>
  } @else {
    <mat-card-content>
      <p>Chargement…</p>
    </mat-card-content>
  }
</mat-card>
