<mat-card>
  @if (tab$ | async; as tab) {
    <mat-card-header>
      <mat-card-title>Prévisualisation</mat-card-title>
      
    </mat-card-header>

    <mat-card-content>
      <pre class="tab">{{ tab.tabToString }}</pre>

      @if (midiTone$ | async; as midiTone) {
        <div class="player">
          <button mat-icon-button color="primary" (click)="playMidi(midiTone)">
           <img src="assets/images/play_button.svg" alt="Play" class="icon" />
        </button>
        <button mat-icon-button color="primary" (click)="disposeSynths()">
           <img src="assets/images/pause_button.svg" alt="Play" class="icon" />
        </button>
       <button mat-flat-button color="accent" (click)="generate()" aria-label="Générer à nouveau">
            <mat-icon>autorenew</mat-icon>
            <span>Générer</span>
          </button>

        
        @if (midi$ | async; as midi) {
          @if (midi) {
            <a mat-button color="primary" [href]="midi.url" target="_blank" rel="noopener">
              Télécharger le MIDI
            </a>
          }
        }
        @if (scales$ | async; as scales){
          @if(scales){
            <form>
              <mat-form-field>
                <mat-label>Scale</mat-label>
                <mat-select [(ngModel)]="selectedScale" name="food">
                  @for (scale of scales; track scale) {
                    <mat-option [value]="scale.id">{{scale.label}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
              <mat-label>Nombre de notes</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="selectedNotesCount"
                name="notesCount"
                min="1"
                max="200"
                step="1"
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Tempo</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="selectedTempo"
                name="tempo"
                min="1"
                max="200"
                step="1"
              />
            </mat-form-field>
            </form>
            

          }
        }
        </div>
        
      }
      
        
      
    </mat-card-content>
  } @else {
    <mat-card-content>
      <p>Chargement…</p>
    </mat-card-content>
  }
</mat-card>
